In [2]:
print('Hello world of python!!!')

Hello world of python!!!

In [20]:
import numpy as np

In [10]:
a=np.arange(11)**2

In [11]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [14]:
for i in a:
    print(i*(1/2))

0.0
0.5
2.0
4.5
8.0
12.5
18.0
24.5
32.0
40.5
50.0

In [22]:
students=np.array([['Ashok','Gopi','Sateesh','Sai','Akhil'],[64,58,91,95,57],[69,74,71,57,54]])

In [23]:
students

array([['Ashok', 'Gopi', 'Sateesh', 'Sai', 'Akhil'],
       ['64', '58', '91', '95', '57'],
       ['69', '74', '71', '57', '54']], dtype='<U7')

In [26]:
for i in students:
    print('i=',i)    # print elements in arranged fashion

i= ['Ashok' 'Gopi' 'Sateesh' 'Sai' 'Akhil']
i= ['64' '58' '91' '95' '57']
i= ['69' '74' '71' '57' '54']

In [27]:
for i in students.flatten():  # print the elements along the row wise  "c " order(row flatening)
    print(i)

Ashok
Gopi
Sateesh
Sai
Akhil
64
58
91
95
57
69
74
71
57
54

In [28]:
for i in students.flatten(order='F'):  # print the elements along column wise (column falttening)(forton order)
    print(i)

Ashok
64
69
Gopi
58
74
Sateesh
91
71
Sai
95
57
Akhil
57
54

In [ ]:
Businees requirements:
    Along the with customer data,we can perform the opeartions on the that requested by the Businees team

In [29]:
x=np.arange(12).reshape(3,4)

In [30]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [31]:
#default iteration behaviour is 'c' order

for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [36]:
for i in np.nditer(x,order='F'):  # column wise data representation
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11