In [1]:
print('Hello world of learning python of Day 11!!!')

Hello world of learning python of Day 11!!!

In [4]:
!pip install pandas --update

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: --update

In [15]:
import numpy as np
import pandas as pd

In [7]:
Widely used lib for data analytics operation

structure data in tabluar format

1.Serial datatype  --> it is like linear expression,one dimensional data
2.Data Frame---> it is 2 dimensional capable of handling the data in tabluar format

In [ ]:
#Getting Started with the Series data

# General Syntax

# pandas.Series(data,index,dtype)

In [17]:
S=pd.Series()

print(S)

Series([], dtype: float64)

In [18]:
#creating a series from ndarry

data=np.array(['a','b','c','d'])

In [20]:
S=pd.Series(data)   # the index with values ,dtype:Object by default

print(S)

0    a
1    b
2    c
3    d
dtype: object

In [22]:
S=pd.Series(data,index=[501,502,503,504])   # if we pass the less index values it doesn't work throw an error
print(S)

501    a
502    b
503    c
504    d
dtype: object

In [23]:
#creating a series from dict

x={'a':0,'b':1,'c':2,'d':3}

In [25]:
S=pd.Series(x)
print(S)

a    0
b    1
c    2
d    3
dtype: int64

In [ ]:
 # The major observations from the line 22& line 25
    
    Here the keys are acting as the indexs
    dtype will changes automatically

In [26]:
S=pd.Series(x,index=['b','c','d','e','a'])

print(S)

b    1.0
c    2.0
d    3.0
e    NaN
a    0.0
dtype: float64

In [ ]:
*****
here the NaN -->not an number

And the dtype will changes if the default format of decimal

In [32]:
S=pd.Series(x,index=['e','f'])

In [33]:
print(S)

e   NaN
f   NaN
dtype: float64

In [ ]:
# if we can specifically pass the indexs values in series the particular values get provided as output.
# even it the elements are out of the dict elements,then it will be retrived as Nan

In [42]:
salaries=np.genfromtxt('salary.csv',delimiter=',')

In [43]:
sla=pd.Series(salaries)

In [44]:
print(sla)

0       60000.0
1       58000.0
2       56967.0
3       54000.0
4       70000.0
         ...
1142    75000.0
1143    90000.0
1144    54647.0
1145    25000.0
1146    70000.0
Length: 1147, dtype: float64