In [1]:
print("Hello world of python on Day 12 !!!!")

Hello world of python on Day 12 !!!!

In [ ]:
Introduction to dataframes:
    =======================

In [3]:
import numpy as np

import pandas as pd

In [ ]:
Series:Was one dimensional structure capable of handling Single dimensional data(linear data)
    
DataFrame:It is two dimensional data structure with rows and cols

In [ ]:
General  Syntax of DataFrame:
============================

pd.DataFrame(data,index,columns,dtype)

In [ ]:
creating dataframe:
    --list
    --dict
    --Series
    --numpy ndarrays
    --Another df

In [5]:
#Creating a data frame:

df=pd.DataFrame()

In [6]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
# creating a df with list:

data=[1,2,3,4,5]

df=pd.DataFrame(data)

In [8]:
print(df)  # here the index values first followed by colum value is '0' and the values

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
data=[['akhil',44],['satvik',62],['vinod',58],['madhu',65]]

In [13]:
df=pd.DataFrame(data,columns=['customers','credit score'])

print(df)

  customers  credit score
0     akhil            44
1    satvik            62
2     vinod            58
3     madhu            65

In [14]:
data=[['vinod',57],['Akhil',47],['sai',56],['suraj',74]]

In [21]:

#
df=pd.DataFrame(data,columns=['customers','Avgscore'],dtype=float,index=['rank1','rank2','rank3','rank4'])

print(df)

      customers  Avgscore
rank1     vinod      57.0
rank2     Akhil      47.0
rank3       sai      56.0
rank4     suraj      74.0

In [33]:
colour={'colours':['orange','yellow','red','green'],'points':[55,61,54,71]}  #representation with tuple as dataframe

In [34]:
pd.DataFrame(colour,dtype=float)  # keys will be considered as column names

  colours  points
0  orange    55.0
1  yellow    61.0
2     red    54.0
3   green    71.0

In [36]:
#further enhancement of the code:

df=pd.DataFrame(colour,index=['stage1','stage2','stage3','stage4'],dtype=float)

print(df)

       colours  points
stage1  orange    55.0
stage2  yellow    61.0
stage3     red    54.0
stage4   green    71.0